<!-- <html>
    <head>
        {% if title %}
        <title>{{ title }} - A surprise to be sure... But a welcome one</title>
        {% else %}
        <title>testDB</title>
        {% endif %}
    </head>
    <body>
        <h1>Hello there... General {{ user.username }}!</h1>
        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body}}</b></p></div>
        {% endfor %}
    </body>
</html> -->

{% extends "base.html" %}

{% block content %}
    <h1> Hello there...General {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}